<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MNNIT|SVBH OFFICIAL</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
    <nav id="navbar">
        <!-- this is the div element for the logo of webpage -->
        <div id="logo">
            <img src="" alt="unable to load">
        </div>
        <ul>
            <li class="item"><a href="#home">Home</a></li>
            <li class="item"><a href="#about">About Us</a></li>
            <li class="item"><a href="#contact">Contact Us</a></li>
        </ul>
        <div id="side">
            <input type="text" placeholder="type to search" id="search">
            <button id="signUp" onclick="window.location.href='/signup'">Sign Up</button>

        </div>
    </nav>
</head>
<body>
