<%-include("partials/header")-%>
<section id="home">
    <h1>PANACEA</h1>
    <p>Panacea means a medicine for all diseases and that’s exactly what we had in mind when we began this project. As someone said,” There’s birth and there’s death and in between there’s Maintenance: -Maintenance is something that we found our hostel readily needs so we created a solution to solve the daily issues catering to almost everything. .</p>
    <br>
    <p>Unhygienic bathroom, malfunctioning lights.... for these seemingly infinite problems we have created a one stop solution.</p>
</section>

<section id="identify">
    <div id="text">Sign in as:</div>
    <div id="choose">
        <button onclick="window.location.href='/signin_admin'" class="Choose">Admin</button>
        <button onclick="window.location.href='/signin_student'" class="Choose">Student</button>
    </div>
</section>
<section id="about">
    <h2>About:</h2>
    <P class="aboutInfo">After living for 3 months in hostel we felt that even though hostel provided a lot amenities it was not well maintained. Complains were often overlooked without anybody providing any real solutions, so tired of writing applications we decided to create a website to raise the issue directly to designated authorities depending on the time delay from query initiation.</P>
    <br>
    <p class="aboutInfo">Even though the initial objective was to create a website for hostel maintenance, we decided to expand it to create a forum for not only raising the issues but deciding their immediacy by the no. of users upvoting and also as creating a SNS site.
    </p>
    <br>
</section>

<section id="contact">
    <h1 class="h-primary">Contact Us</h1>
    <div id="contact-box">
        <form action="">
            <div class="form-group">
                <label for="name">Name: </label>

                <input type="text" name="name" id="name" placeholder="Enter your name">
            </div>
            <div class="form-group">
                <label for="email">Email: </label>

                <input type="email" name="name" id="email" placeholder="Enter your email">
            </div>
            <div class="form-group">
                <label for="phone">Phone Number: </label>

                <input type="phone" name="name" id="phone" placeholder="Enter your phone">
            </div>
            <div class="form-group">
                <label for="message">Message: </label>
                <br>
                <textarea name="message" id="message" placeholder="write to us" cols="20" rows="5"></textarea>
            </div>
            <div id="submit">
                <button class="Submit">Submit Now</button>
            </div>
        </form>
    </div>
</section>
<%-include("partials/footer")-%>