<%-include("partials/header")-%>
<section id="home">
    <h1>This is to give tittle here in heading</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut ullam sunt voluptates, autem aspernatur
        molestias ut, dicta labore ex veritatis doloribus suscipit quam est incidunt a ipsum mollitia, cumque
        sint nemo dignissimos esse! Officia recusandae, ipsam quae cumque aut vitae id nisi consectetur commodi.
        Nemo iusto dolores nisi voluptatum? Molestiae.</p>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum voluptate aliquid provident error modi
        magni dolore earum doloremque officiis veritatis?</p>
</section>

<section id="identify">
    <div id="text">Sign in as:</div>
    <div id="choose">
        <button class="Choose"><a href="/signin_admin">Admin</a></button>
        <button class="Choose"><a href="/signin_student">Student</a></button>
    </div>
</section>
<section id="about">
    <h2>About:</h2>
    <P class="aboutInfo">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur rem doloremque culpa
        similique. Incidunt ad sunt quasi nihil commodi a voluptate harum distinctio ab. Ea natus tenetur amet.
        Error laboriosam excepturi, qui fugit officia eius ab nihil enim? Perferendis, delectus. Sint expedita optio
        saepe alias? Quasi consequatur aliquam iste dolor consequuntur accusamus quos nisi, sunt ea.</P>
    <br>
    <p class="aboutInfo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio a tempora non, dolores dicta
        cum numquam voluptates nihil ab temporibus quae dolorem illo. Quasi ut a aut officia corrupti modi, hic
        iusto commodi, tempore at doloremque unde officiis. Deleniti quos nobis atque ex eaque? Id optio suscipit
        accusamus, veritatis exercitationem commodi. Dolore aliquid quasi similique harum quidem labore inventore
        facere error aspernatur quisquam nisi impedit, doloribus perferendis illum consequuntur, vero minus nobis.
        Suscipit placeat excepturi obcaecati impedit reiciendis beatae, perferendis fugiat sequi hic nostrum
        assumenda. Pariatur error iste, illo ex porro laborum facere ab neque soluta, accusantium totam atque nemo?
    </p>
    <br>
    <p class="aboutInfo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum doloribus sit cum aliquid
        nulla error dignissimos cupiditate architecto eos. Optio, dolor dolore nihil consectetur accusantium
        expedita et deserunt porro cum tempore suscipit praesentium eum. Error, iste. Ab accusantium quo officia
        voluptate odio. Minima molestiae assumenda expedita consequatur laboriosam accusantium cum?</p>
</section>

<section id="contact">
    <h1 class="h-primary">Contact Us</h1>
    <div id="contact-box">
        <form action="">
            <div class="form-group">
                <label for="name">Name: </label>

                <input type="text" name="name" id="name" placeholder="Enter your name">
            </div>
            <div class="form-group">
                <label for="email">Email: </label>

                <input type="email" name="name" id="email" placeholder="Enter your email">
            </div>
            <div class="form-group">
                <label for="phone">Phone Number: </label>

                <input type="phone" name="name" id="phone" placeholder="Enter your phone">
            </div>
            <div class="form-group">
                <label for="message">Message: </label>
                <br>
                <textarea name="message" id="message" placeholder="write to us" cols="20" rows="5"></textarea>
            </div>
            <div id="submit">
                <button class="Submit">Submit Now</button>
            </div>
        </form>
    </div>
</section>
<%-include("partials/footer")-%>