<%-include("partials/header2")-%>
<form action="/signin_admin" method="post">
<div class="box">
    <div class="image">
        <img src="admin_sign1.jpeg" alt="unable to load">
    </div>
    
    <p>Have an account?.</p>
    <div class="container">
        <div class="form-group">
            <input type="text" id="username" name="username" placeholder="Enter Your Username">
        </div>
        <div class="form-group">
            <input type="password" id="password" name="password" placeholder="Enter Your Password">
        </div>
        
    </div>

    <span class="checkbox">
        <input type="checkbox" id="togglePassword">
        <label for="check">Show Password</label>
        <input type="checkbox" id="check" name="checkbox" value="cb">
        <label for="check">Remember Me</label>
      
    </span>
    <div class="btn">
        <button class="button">Sign-In</button>
    </div>
</div>
</form>

<script>
    document.getElementById('togglePassword').addEventListener('change', function (e) {
        // Get the password input
        const passwordInput = document.getElementById('password');
        
        // Check if the checkbox is checked
        // If checked, change the type to 'text' to show the password
        // If not checked, change the type back to 'password' to hide the password
        if (e.target.checked) {
            passwordInput.type = 'text';
        } else {
            passwordInput.type = 'password';
        }
    });
    </script>
    
<%-include("partials/footer")-%>
   