<%-include("partials/header1")-%>
<form action="/signup" method="post">   
<div class="box">
        <div class="image">
            <img src="" alt="unable to load">
        </div>
        <h1>PANACEA</h1>
        <p>Got issues, Raise them!!!</p>
        <div class="container">
            <div class="form-group">
                <input type="text" id="username" name="name" placeholder="Enter Your Name">
            </div>

            <div class="form-group">
                <input type="email" id="email" name="email" placeholder="Enter Your College Email">
            </div>
            <div class="form-group">
                <input type="password" id="password" name="password" placeholder="Enter Your Password">
            </div>
            <div class="form-group">
                <input type="password" id="rpassword" name="password1" placeholder="Re-Enter Your Password">
            </div>
        </div>
        <span class="checkbox">
            
            <input type="checkbox" id="check" name="checkb" value="cb">
            <label for="check">Remember Me</label>
          
        </span>
        <div class="btn">
            <button class="button">Get Started</button>
        </div>
    </div>
</form>
    <%-include("partials/footer")-%>