<%-include("partials/header1")-%>
<form action="/signup" method="post">   
<div class="box">
        <div class="image">
            <img src="images/sign_up1.jpg" alt="unable to load">
        </div>
        <h1>PANACEA</h1>
        <p>Got issues, Raise them!!!</p>
        <div class="container">
            <div class="form-group">
                <input type="text" id="username" name="name" placeholder="Enter Your Name">
            </div>

            <div class="form-group">
                <input type="email" id="email" name="email" placeholder="Enter Your College Email">
            </div>
            <div class="form-group">
                <input type="password" id="password" name="password" placeholder="Enter Your Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
               
            </div>
            <div class="form-group">
                <input type="password" id="rpassword" name="password1" placeholder="Re-Enter Your Password">
            </div>
        </div>
        <div class="btn">
            
        </div>
        <span class="checkbox">
            <input type="checkbox" id="togglePassword">
            <label for="check">Show Password</label>
            <input type="checkbox" id="check" name="checkb" value="cb">
            <label for="check">Remember Me</label>
          
        </span>
        <div class="btn">
            <button class="button">Get Started</button>
            <a href="/google" id="googleSignIn1" class="button">Continue with Google</a>
        </div>
        
    </div>
</form>
<script>
    document.getElementById('togglePassword').addEventListener('change', function (e) {
        // Get the password input
        const passwordInput = document.getElementById('password');
        
        // Check if the checkbox is checked
        // If checked, change the type to 'text' to show the password
        // If not checked, change the type back to 'password' to hide the password
        if (e.target.checked) {
            passwordInput.type = 'text';
        } else {
            passwordInput.type = 'password';
        }
    });
    </script>
    
    <%-include("partials/footer")-%>