.user-list {
    margin-top: 20px;
  }
  
  .user {
    margin-bottom: 10px;
  }
  
  .username {
    font-weight: bold;
  }
  
  .block-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .block-btn:hover {
    background-color: darkred;
  }

  .footer {
    display: flex;
    background-color: #636627ba;
    color: white;
    height: 26px;
    width: 100%;
    padding: 5px 0px;
    align-items: center;
    font-size: 1.3rem;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
}