/* css reset */
* {
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Bree Serif', serif;
}
html{
    scroll-behavior: smooth;
}

#navbar {
    display: flex;
    width: 100%;
    background-color: black;
     position: fixed;
     z-index: 9999;
    }

#home p{
    font-size: 1.3rem;
}

#logo {
    padding: 5px;
    height: 56px;
    width: 56px;
    border: 2px solid black;
}

#navbar ul {
    margin-left: 59px;
    display: flex;
    justify-content: center;
    text-align: center;
}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    border: 2px solid black;
    border-radius: 31px;
    text-decoration: none;
    display: block;
    padding: 9px 45px;
    margin: 10px 6px;
}

#navbar ul li a:hover {
    color: black;
    background-color: rgb(194, 179, 157);
}


#side {
    display: flex;
    margin-left: auto;
}

#signUp:hover {
    color: black;
    background-color: rgb(194, 179, 157);
    cursor: pointer;
}

#search {
    border-radius: 10px;
    padding: 12px 19px;
    height: 5px;
    width: 95px;
    margin-left: 80px;
    margin-top: 17px;
}

#signUp {
    border-radius: 12px;
    padding: 7px 13px;
    margin: 15px 5px;
}

.item {
    color: white;
}

#home {
   
    display: flex;
    flex-direction: column;
    padding: 190px 273px;
    position:relative; 
    flex-wrap: wrap;
    background-image: url("front_gate2.jpg") ;
    background-attachment: inherit;
    background-repeat: no-repeat;
    background-position:center center;
}




#home h1 {
    text-align: center;
    font-size: 4.2rem;
    font-weight: bold;
    font-family: 'Gabriola', sans-serif;
    
}

#home p{
    font-weight: bold;
    
}

#identify {
    display: flex;
   
    height:130px;
    background-color:rgb(177 178 235);
}


#about {
    
    position:relative;
    padding: 75px 25px 75px 50px;
    background-image: url("about_us4.jpg") ;
    background-attachment: inherit;
    background-repeat: no-repeat;
    background-position:center center;
    color:white;
}

#about h2 {
    font-size: 2.5rem;
}

.aboutInfo {
    font-size: 1.3rem;
}

#contact {
    border: 3px solid yellow;
    display: flex;
    flex-wrap: wrap;
    position:relative;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    position: relative;
}

#contact-box input,
#contact-box textarea {
    width: 100%;
    padding: 0.5rem;
    font-size: 1.3rem;
}

#contact-box {
    padding: 28px 596px;
    font-size: 1.5rem;
}

.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;
    font-size: 1.3rem;
}

.h-primary {
    font-size: 3rem;
    padding-top: 31px;


}

.Submit {
    font-size: 1rem;
    padding: 3px 3px;
    border-radius: 8px;

}
.Submit:hover{
    cursor: pointer;
}
#text{
   color:white;
    width: 50%;
    text-align: center;
    font-size: 4rem;
    padding-top:10px;
    padding-left: 375px;
    box-sizing:border-box;
}
#choose{
   
    display:flex;
    flex-direction: column;
    width: 50%;
    padding:2px 2px;
    
}

#contact::before{
    position:absolute;
    background-color:#FFBBBB;
    height:442.2px;
    width:100%;
    z-index: -1;
    opacity:0.8;
}
#contact{
    background-color: #FFBBBB;
}
.Choose{
    background-color:white;
    height:50%;
    margin:2px 382px;
    padding:2px 3px;
    border-radius: 20px;
    font-size: 2rem;
    margin-left: 2px;
    
}
.Choose:hover{
    cursor:pointer;
    background-color: gainsboro;
}
a{
    text-decoration: none;
    color: white;
}
 
.Choose:hover{
    cursor:pointer;
    background-color: grey;
    color:white;
}