* {
    margin: 0px;
    padding: 0px;
}

.container {
    padding: 45px 75px 75px 75px;
    position: absolute;
    top: 230px;

}

.box {
    display: flex;
    flex-direction: column;
    /* border:2px solid black; */
    height: 429px;
    width: 440px;
    justify-content: center;
    align-items: center;
    margin: 70px 550px;
    background-color: #d53a3abd;
    border-radius: 20px;
    box-shadow: 16px 15px 13px 5px black;

}

.image {
    position: absolute;
    top: 80px;
    width: 80px;
    height: 80px;
    /* border:2px solid purple; */
}

p {
    font-size: 3rem;
    position: absolute;
    top: 180px;


}

.form-group {
    margin: 5px;
}



.checkbox {
    font-size: 1.3rem;
    position: absolute;
    top: 390px;
}

.btn {
    position: absolute;
    top: 435px;
}

.button {
    font-size: 1.3rem;
    width: 184px;
    height: 33px;
    border-radius: 8px;

}

div input {
    padding: 8px 55px;
    border-radius: 8px;
    margin: 2px;
    font-weight: bold;

}

.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;
    font-size: 1.3rem;
}

body {
    background-image: url("student_bg2.png");
    height: 100%;
    width: 100%;
    z-index: -1;
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-position: center center;
}
button:hover{
    cursor: pointer;
}